%section
  %header
    %h1 Productos
  = render partial: 'product_form'
  %hr/
  .product_list
    -@products.each do |p|
      .product_box
        %h4
          = p.name
        %p
          = p.quantity
        %p
          = link_to 'Borrar', destroy_product_path(p), method: :delete
          = link_to 'Detalles', product_path(p)
      %hr/
